.error p {
    color: crimson;
}

#main .ui-header {
    background: #00D4F0;
}

#main .ui-footer {
    background: #00D4F0;
}

#seleccion .ui-header {
    background: #00D4F0;
}

#seleccion .ui-footer {
    background: #00D4F0;
}

#valoracion .ui-header {
    background: #00D4F0;
}

#valoracion .ui-footer {
    background: #00D4F0;
}

#valoracion h4 {
    text-decoration: underline;
}